<link href="/static/style.css" rel="stylesheet"/>
<form action="/title" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
    <div id="CookiesContainer">
        {% if not cookies %}
            <label for="NetflixId">NetflixId</label>
            <input id="NetflixId" name="NetflixId" type="text" value="" autofocus />
            <label for="SecureNetflixId">SecureNetflixId</label>
            <input id="SecureNetflixId" name="SecureNetflixId" type="text" value="" />
            <button id="SaveCookies" name="SaveCookies" type="button">salvar</button>
        {% endif %}
    </div>

    <div id="QueryContainer">
        {% if cookies %}
            <label for="Query">Busca</label>
            <input id="Query" name="Query" type="text" value="">
            <input type="submit" value="buscar" />
        {% endif %}
    </div>

    <div>
        {% if titles %}
            <ul>
                {% for key, title in titles %}
                    <li><small>{{key}}</small>:      <strong>{{ title["title"]["value"] }}</strong></li>
                 {% endfor %}
            </ul>
        {% endif %}
    </div>
</form>
<script src="/static/script.js"></script>