<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./style.css"/>
    <title>Document</title>
</head>
<body>
    <section>
        <article>
            <div>
                <label>NetflixId: </label>
                <input id="NetflixId" type="text">
            </div>
            <div>
                <label>SecureNetflixId: </label>
                <input id="SecureNetflixId" type="text">
            </div>
        </article>
        <article>
            <div>
                <label>Busca:</label>
                <input id="query" type="text">
                <button id="btn_find">Buscar</button>
            </div>
        </article>
    </section>
    <script src="./index.js"></script>
</body>
</html>